.chessBoard {
    width: 240px;
    height: 240px;
    border: 1px solid black;

}

.checkerBoard {
    width: 30px;
    height: 30px;
    float: left;
}

.checkerBoard_black {
    background-color: black;
}

.basket {
    width: 1030px;
    height: auto;
    margin: 0 auto;
    padding: 30px 40px;
    text-align: center;
    border: 3px solid blue;
    border-radius: 30px;
    box-sizing: border-box;
}